{% extends 'base.html' %}
{% block page_content %}
{% load staticfiles %}
<title>
    {{post.title}}
</title>
<div class="container">
    <div class="row">
        <div class="col-9 blog-detail">
            <a class='blog-link' href="{% url 'blog_index' %}">Blog Home</a>
            <h1 align='center'>{{ post.title }}</h1>
            <small>
                {{ post.created_on.date }} |&nbsp;
                Categories:&nbsp;
                {% for category in post.categories.all %}
                <a href="{% url 'blog_category' category.name %}">
                    {{ category.name }}
                </a>&nbsp;
                {% endfor %}
            </small>
            <p class='content-markdown'>{{ post.body  }}</p>
        </div>
        <div class="col-3">
        <img src="{% static '/images/Pro.jpg' %}" class='img-fluid'>
                Hello!</br></br>
                I'm Joe Pickert, and welcome to my blog.<br><br>
                Here, you can find a collection of my thoughts both tech-related and otherwise.<br><br>
                If you find something that interests you, please leave a comment! I'd love to hear your thoughts and feedback!
        </div>
    </div>
</div>
{% endblock %}
