<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block page_content %}

<div class='par-container'>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis interdum arcu. Phasellus at enim sit amet tellus mattis posuere. Nam eu cursus mauris, ut imperdiet velit. Sed volutpat suscipit libero ut bibendum. Vivamus elementum nunc nec nisi vestibulum mollis. Praesent malesuada volutpat accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam fermentum elementum ante, nec imperdiet elit tempor sit amet.

Nullam auctor at odio ut ultrices. In facilisis est id tellus faucibus efficitur. Vivamus pharetra ex ac eros tincidunt mollis. Cras iaculis lorem eu velit ornare, a accumsan neque tempus. Vestibulum sit amet ligula vitae eros mattis convallis. Quisque luctus condimentum nunc, quis aliquam metus facilisis vel. Aenean posuere ullamcorper urna. Sed rhoncus ullamcorper quam, vitae viverra turpis volutpat et. Integer ut ex ac turpis hendrerit accumsan non in velit. Donec commodo sollicitudin volutpat. Donec consectetur posuere justo, et fringilla ipsum viverra a. Sed id enim eget magna scelerisque efficitur. Nunc bibendum vulputate ultrices.
    </p>
    <div class='parallax'>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis interdum arcu. Phasellus at enim sit amet tellus mattis posuere. Nam eu cursus mauris, ut imperdiet velit. Sed volutpat suscipit libero ut bibendum. Vivamus elementum nunc nec nisi vestibulum mollis. Praesent malesuada volutpat accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam fermentum elementum ante, nec imperdiet elit tempor sit amet.

Nullam auctor at odio ut ultrices. In facilisis est id tellus faucibus efficitur. Vivamus pharetra ex ac eros tincidunt mollis. Cras iaculis lorem eu velit ornare, a accumsan neque tempus. Vestibulum sit amet ligula vitae eros mattis convallis. Quisque luctus condimentum nunc, quis aliquam metus facilisis vel. Aenean posuere ullamcorper urna. Sed rhoncus ullamcorper quam, vitae viverra turpis volutpat et. Integer ut ex ac turpis hendrerit accumsan non in velit. Donec commodo sollicitudin volutpat. Donec consectetur posuere justo, et fringilla ipsum viverra a. Sed id enim eget magna scelerisque efficitur. Nunc bibendum vulputate ultrices.
</p>
    </div>


{% endblock %}
