<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block page_content %}

<div class="">

        <h3 class="text-center title">Get in touch</h3>

            <div class="text-center title">
            <h3>
                <p>Have a question about my experience, or want to see what I can do for you?</p>
                <p>Feel free to email me at:</p>
                <p><b>josephpickert@gmail.com</b><br><br></p>
                <p>Also, feel free to connect with me on GitHub or any of the other sites I frequent!</p></h3>
                <ul class="list-inline list-social">
                    <li><a href="https://github.com/PickertJoe" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></li>
                    <li><a href="www.linkedin.com/in/joseph-pickert-ba2955135" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
                    <li><a href="https://www.goodreads.com/user/show/89792207-joe-pickert" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Goodreads</a></li>
                    <li><a href="https://www.facebook.com/joe.pickert" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Facebook</a></li>
                    <li><a href="https://www.strava.com/athletes/17205181" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Strava</a></li>

                </ul>
            </div>
        </div>

{% endblock %}
