<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block page_content %}
{% load staticfiles %}

<title>
    Contact Me
</title>
<div class='container-fluid'>
    <div class="text-center title">
        <h3 style="font-weight:bold">
            <p>Get in touch</p>
            <p>Have a question about my experience, or want to see what I can do for you?</p>
            <p>Feel free to email me at:</p>
            <p><b>josephpickert@gmail.com</b><br><br></p>
        </h3>
    </div>
    <div class='row'>
        <div class='col-lg text-center'>
            <a href="https://github.com/PickertJoe" class='btn-link' style="font-weight: bold">Github<img src="{% static 'images/Github-icon.png' %}" class='img-fluid'></a>
        </div>
        <div class='col-lg text-center'>
            <a href="https://www.linkedin.com/in/joseph-pickert" class='btn-link' style="font-weight: bold">LinkedIn<img src="{% static 'images/linkedin-icon.png' %}" class='img-fluid'> </a>
        </div>
        <div class='col-lg text-center'>
            <a href="https://www.goodreads.com/user/show/89792207-joe-pickert" class='btn-link' style="font-weight: bold">Goodreads<img src="{% static 'images/Goodreads-icon.png' %}" class='img-fluid'> </a>
        </div>
        <div class='col-lg text-center'>
            <a href="https://www.facebook.com/joe.pickert" class='btn-link' style="font-weight: bold">Facebook<img src="{% static 'images/facebook-icon.png' %}" class='img-fluid'> </a>
        </div>
        <div class='col-lg text-center'>
            <a href="https://www.strava.com/athletes/17205181" class='btn-link' style="font-weight: bold">Strava<img src="{% static 'images/strava-icon.png' %}" class='img-fluid'> </a>
        </div>
    </div>
</div>

{% endblock %}
