{% extends 'base.html' %}
{% block page_content %}
{% load staticfiles %}
<title>
    Weather Application
</title>

<div class='homepage text1 container'>
    <h1>Curious About the Weather?</h1>
    <div class='text-center'>
        Check out the conditions in a few of the cities I'd most like to visit.
    </div>
    <div class='row no-margin' id='weather-text'>
        {% for city_weather in weather_data %}
        <div class='col-md-4'>
            <div class='card mb-2'>
                <img class='card-img-top img-fluid' src={{city_weather.image}} alt="Image">
                <div class='card-body'>
                    <h2 class='card-title'>{{ city_weather.city }}</h2>
                    <p class='card-text capitalize'>{{city_weather.description}}</p>
                </div>
                <ul class='list-group list-group-flush'>
                    <li class='list-group-item'>High: {{city_weather.high_temperature | floatformat:"0"}} ° F</li>
                    <li class='list-group-item'>Low: {{city_weather.low_temperature | floatformat:"0"}} ° F</li>
                    <li class='list-group-item'>Humidity: {{city_weather.humidity}} %</li>
                    <li class='list-group-item'>Wind Speed: {{city_weather.wind | floatformat:"0"}} mph</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class='text-center'>
    <img src="{% static '/images/weather_map.jpg' %}" class='img-fluid'>
    This app retrieves data from the API at <a class='btn-link' href='https://openweathermap.org/current'>Open Weather Map.</a>
</div>
</div>
{% endblock %}
