
{% load staticfiles %}
html  *{
    font-family: "Times New Roman" !important;
}

body {
    background-image: url("https://pickert-website-static.s3.us-east-2.amazonaws.com/snow-compressor.jpg");
    background-size: cover;
    background-attachment: fixed;
    position:relative;
}

.homepage{
    text-align: center;
    color: white;
    width: 100%;
    height: 80%;
    background-color: black;
}

#slider{
    position:relative;
    top:0px !important;

}

.open{
    top:-500px !important;
}

.transition{
    -webkit-transition: top 0.5s ease-out;
    -moz-transition: top 0.5s ease-out;
    -o-transition: top 0.5s ease-out;
    transition: top 0.5s ease-out;
}

.navbar.solid {
  background-color: black;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}

.blog-container {
    outline: 2px solid black;
}

.big-link{
    font-size: 26px !important;
}

.card-text{
    color: white !important;
}

.btn-link{
    color:white;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.btn-link2{
    color:black;
}
.col-sm{
    color: white !important;
}

.container span{
    color:white;
    text-transform: uppercase;
    display: block;
}

.button1{
    position: absolute;
    bottom:0;
    right:0;
    background-color: black;
    color: white;
}

.card-text{
    color:black !important;
}

.text1{
    margin-top: 25px;
    font-size: 40px;
    font-weight: 700;
    opacity: 0;
    color:white;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    animation: fadein forwards;
    animation-duration: 3s;
    animation-delay: 1s;

}

.text2{
    margin-top: 25px;
    font-size: 30px;
    font-weight: 700;
    opacity: 0;
    color:white;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    animation: fadein forwards;
    animation-duration: 3s;
    animation-delay: 4s;
}

.text3{
    margin-top: 25px;
    font-size: 25px;
    font-weight: 700;
    opacity: 0;
    color:white;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    animation: fadein forwards;
    animation-duration: 3s;
    animation-delay: 4s;
}

.blog-detail{
    background-color: white !important;
    font-size: 18px;
}

.project-detail {
    background-color: white !important;
    color: black;
    font-size: 20px;
    border: 2px solid black;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


a{
    color:#2A293E;
}

h1{
    text-align: center !important;

}
h2{
    color:black;
    font-size: 30px;
    text-align: center !important;
}

h3{
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 30px;
    padding-top: 100px;
}

h4{
    text-align: center;
    font-size: 40px;
    color:white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav-link{
    color: white;
    font-family: "Times New Roman";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 25px;
}

.navbar-brand{
    color:white;
    font-family: "Times New Roman";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 30px;

}


.col-9{
    background-color: #9F9C99;
    border: 2px solid black;

}

.col-3{
    background-color: #2A293E;
    border: 2px solid black;
    color: white;
}

.fill{
    min-height: 100vh;
    height: 100%;
}


/*
Keyframes
*/

@keyframes fadeIn{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*
CSS Page Transitions
*/
.m-scene {
    .scene_element{
        animation-duration: 0.25s;
        transition-timing-function: ease-in;
        animation-fill-mode: both;
    }

    .scene_element--fadein{
        animation-name: fadeIn;
    }
}

.par-container {
    margin: auto;
    color: black;
    /*text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;*/
    padding: 25px;
    max-width: 960px;
    background-color:white;
    /*background-image: url('../images/grey_slate.jpg');*/
    background-size: contain;
    font-size: 24px;
    background-color: #9F9C99;
    border: 2px solid black;
}

.parallax-1{
    background: url('../images/Pro.jpg') no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 25em;
}

.parallax-2{
    background: url('../images/C++.png') no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 500px;

}

.parallax-3{
    background: url('../images/research.png') no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
}

.parallax-4{
    background: url('../images/stream.jpg') no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
}

.parallax-5{
    background: url('../images/climbing.jpg') no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
}

.parallax-6{
    background: url('../images/mtb.jpg') no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
}

.parallax-7{
    background: url('../images/violin.jpg') no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
}

.parallax-8{
    background: url('../images/runescape.png') no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
}

.parallax-9{
    background: url('../images/books.jpeg') no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
}

.parallax-10{
    background: url('../images/signature.jpg') no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
}
