
{% load staticfiles %}


body {
    background-image: url("../images/snow.jpg");
    background-size: cover;

}
.navbar-default{
    background-color: #CC0000 !important;
}

.nav-item{
    color: #FFF;
}

.col-9{
    background-color: #FFF
}
