/* Custom styling for navbar */

.navbar {
    background-color: #000 !important;
}

.navbar-default {
    background-color: #006400 !important;
    border-color: #006400 !important;
}

.navbar-brand {
    background-color: #006400 !important;
    border-color: #006400 !important;
    text-decoration-color: white !important;
}

.navbar-link {
    background-color: #006400 !important;
    border-color: #006400 !important;
}

